<h1>
    {{ ( heroe.id ) ? 'Editar' : 'Nuevo' }} Héroe <small>{{ heroe.superhero }}</small>
</h1>

<div fxLayout="row" fxLayoutGap="40" fxLayout.xs="column" fxLayout.sm="column">

    <div fxFlex="50" fxLayout="column">
        <div fxLayout="row" fxLayoutGap="20">
            <mat-form-field fxFlex="100" fxLayout.xs="column" fxLayout.sm="column">
                <mat-label>Super Héroe</mat-label>
                <input matInput type="text"  [(ngModel)]="heroe.superhero" required><!-- SIEMPRE al utilizar mat-form-field en los input internos se debe colocar la propiedad matInput de lo contrario dara error -->
            </mat-form-field>
    
            <mat-form-field fxFlex="100">
                <mat-label>Alter Ego</mat-label>
                <input matInput type="text" [(ngModel)]="heroe.alter_ego" required><!-- SIEMPRE al utilizar mat-form-field en los input internos se debe colocar la propiedad matInput de lo contrario dara error -->
            </mat-form-field>
        </div>

        <mat-form-field fxFlex="100">
            <mat-label>Primera Aparición</mat-label>
            <input matInput type="text" [(ngModel)]="heroe.first_appearance" required><!-- SIEMPRE al utilizar mat-form-field en los input internos se debe colocar la propiedad matInput de lo contrario dara error -->
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Personajes</mat-label>
            <input matInput type="text" [(ngModel)]="heroe.characters" required><!-- SIEMPRE al utilizar mat-form-field en los input internos se debe colocar la propiedad matInput de lo contrario dara error -->
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Creador</mat-label>
            <mat-select [(ngModel)]="heroe.publisher">
                <mat-option *ngFor="let publisher of publishers"
                            [value]="publisher.id">
                    {{ publisher.desc }}
                </mat-option>
              </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100">
            <mat-label>Foto Url</mat-label>
            <input matInput type="text" [(ngModel)]="heroe.alt_img"><!-- SIEMPRE al utilizar mat-form-field en los input internos se debe colocar la propiedad matInput de lo contrario dara error -->
        </mat-form-field>

        <br>

        <div fxLayout>
            <button (click)="guardar()" mat-raised-button color="primary">
                {{ ( heroe.id ) ? 'Editar' : 'Crear' }}
            </button>

            <div class="espaciado"></div>
        
            <button (click)="borrarHeroe()" mat-raised-button color="warn" *ngIf="heroe.id">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>

    </div>
    <div fxFlex="50">
        <img [src]="heroe | imagen" alt="">
    </div>

</div>